body {
  background-color: #000000;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#title {
  font-size: 72px;
  color: #00ff00;
  font-family: 'Geo', sans-serif;
  padding: 10px;
  border: 4px dashed #00ff00;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  margin-top: 20px;
}

/*game*/
#score {
  font-size: 32px;
  color: #ffffff;
  font-family: monospace;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
 }
#court { 
  width: 900px;
  height: 500px;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-top: -20px;
}

#canvas {
  height: 500px;
  width: 900px;
}
 #help {
  font-size: 18px;
  color: #00ff00;
  font-family: monospace;
 }
 #helpOverlay {
  display: block;
  font-size: 18px;
  color: #00ff00;
  font-family: monospace;
  width: 900px;
  position: absolute;
  background: #000;
  padding-top: 50px;
  height: 900px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
 }
 #helpOverlay h3 {
  color: #fff;
 }

/*footer*/
#footer {
  width: 100%;
  margin: 0 auto;
}

#footer span {
  font-size: 18px;
  color: #00ff00;
  font-family: monospace;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  float: right;
}

#footer a {
  color: #fff;
}


